---
import Layout from "../../layouts/Layout.astro";
import pages from "../../../public/pages.json";
import { WEBSITE_TITLE } from "../../constants";

export async function getStaticPaths() {

  return pages.map((page) => ({
    params: {
      slug: page.Slug,
    },
    props: { page },
  }));
}
const { page } = Astro.props;

---

<Layout title={page.Name + ' - ' + WEBSITE_TITLE}>
  <style is:global>
    .page-text p {
      text-indent: 1.5em;
    }
    .page-text h3, .page-text p {
      margin-bottom: 1em;
    }
  </style>
  <main class="my-4">
    <nav class="print:hidden">
      <ul class="flex flex-row">
        <li><a class="text-blue-800" href="/">Startseite</a>&nbsp; / &nbsp;</li>
        <li>
          <a class="text-blue-800" href={`/allgemein/${page.Slug}`}> {page.Name}</a>
        </li>
      </ul>
    </nav>
    <h2 class="text-lg md:text-2xl py-3">{page.Name}</h2> 
    <div>
      {
        page.isTable && (
          <div class=" grid grid-cols-4 md:grid-cols-6 gap-2">
            {page.Records.map((pagerecord) => 
              <div>{pagerecord.Spalte1}</div>
              <div class="col-span-3 md:col-span-5"> {pagerecord.Spalte2}</div>
            )
            }
          </div>
        )
      }
      {!page.isTable && (
        page.Records.map((pagerecord) => <div class="page-text my-2" set:html={pagerecord?.Text}></div>)
        )
      }
    </div>
  </main>
</Layout>
