---
import { Img } from "astro-imagetools/components";
export interface Props {
  title: string;
  body: string;
  href: string;
  thumbnail: URL;
}

const { href, title, body, thumbnail } = Astro.props;
---

<li class="list-none border-2 rounded-lg p-3 text-center hover:border-gray-600">
  <a class="flex flex-col" href={href}>

    <Img src={thumbnail} alt={title} />
    <h2 class="pt-2">
      {title}
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>

