---
import { Img } from "astro-imagetools/components";
export interface Props {
  title: string;
  body: string;
  href: string;
  thumbnail: URL;
}

const { href, title, body, thumbnail } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
    </h2>
    {thumbnail && <Img src={thumbnail?.toString()} alt={title} />}
    <p>
      {body}
    </p>
  </a>
</li>

