---
import { Img } from "astro-imagetools/components";
export interface Props {
  title: string;
  body: string;
  href: string;
  thumbnail: URL;
}

const { href, title, body, thumbnail } = Astro.props;
---

<li class="list-none border p-3 text-center">
  <a class="flex flex-col" href={href}>

    {thumbnail && <Img src={thumbnail?.toString()} alt={title} />}
    <h2>
      {title}
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>

