---
import Layout from "../../layouts/Layout.astro";
import ImageViewer from "../../components/ImageViewer.jsx";
import werkgruppen from "../../../public/werkgruppen.json";

export async function getStaticPaths() {

  const works = [];
  for (const werkgruppe of werkgruppen) {
    for (const Record of werkgruppe.Records) {
      works.push({
        workSlug: Record.Slug,
        slug: werkgruppe.Slug,
        work: Record,
        records: werkgruppe.Records
      });
    }
  }
  const paths = works.map((work) => ({
    params: {
      slug: work.slug,
      workSlug: work.workSlug,
    },
    props: {
      work: work.work,
      records: work.records
    },
  }));

  return paths;
}
const { work, records } = Astro.props;

const imgs = await Promise.all(
  work?.Bilder?.map(async (bild) => {
    return {
      src: bild,
    };
  }) || [ { src: "/placeholder.png"}]
);
---

<Layout title={work.Titel}>  
  <h2 class="text-2xl py-3">{work.Titel}</h2>
  <main class="flex flex-col-reverse lg:flex-row">
    <div class="eigenschaften w-full lg:w-1/2">
      <h2 class="py-3 text-xl">Inv. Nr.: {work.InvNr}</h2>
      <h3 class="py-3 text-xl">Eigenschaften</h3>
      <p>Werkgruppe: {work.Werkgruppe}</p>
      <p>Jahr: {work.Jahr}</p>
      <p>Maße: {work.Maße}</p>
      <p>Anzahl: {work.Anzahl}</p>
      <p>Signatur: {work.Signatur}</p>
      <p>Zustand: {work.Zustand}</p>
      <p>Beschreibung: {work.Beschreibung}</p>
      <p>Material: {work.Material}</p>
      <p>Standort: {work.Standort}</p>
      <p>Technik: {work.Technik}</p>
      <p>Auflage: {work.Auflage}</p>
      <p>Foto: {work.Foto}</p>
      <p>Ausstellung: {work.Ausstellung}</p>
      <p>Literatur: {work.Literatur}</p>
      <p>Bibliographie: {work.Bibliographie}</p>
    </div>
    <div class="w-full lg:w-1/2">
      <ImageViewer client:load imgs={imgs} title={work.Titel} />
    </div>
  </main>
</Layout>
