---
import Layout from "../../layouts/Layout.astro";
import ImageViewer from "../../components/ImageViewer.jsx";
import werkgruppen from "../../../public/werkgruppen.json";
import SearchNavigation from "../../components/SearchNavigation";

export async function getStaticPaths() {
  const works = [];
  for (const werkgruppe of werkgruppen) {
    for (const Record of werkgruppe.Records) {
      works.push({
        workSlug: Record.Slug,
        slug: werkgruppe.Slug,
        titel: werkgruppe.Titel,
        work: Record,
        records: werkgruppe.Records,
      });
    }
  }
  const paths = works.map((work) => ({
    params: {
      slug: work.slug,
      workSlug: work.workSlug,
    },
    props: {
      work: work.work,
      records: work.records,
      slug: work.slug,
      workSlug: work.workSlug,
      titel: work.titel,
    },
  }));

  return paths;
}
const { work, records, slug, workSlug, titel } = Astro.props;

const imgs = await Promise.all(
  work?.Bilder?.map(async (bild) => {
    return {
      src: bild,
    };
  }) || [{ src: "/placeholder.png" }]
);
---

<Layout title={work.Titel}>
  
  <SearchNavigation client:only />
  <nav>
    <ul class="flex flex-row">
      <li><a class="text-blue-800" href="/">Startseite</a>&nbsp; / &nbsp;</li>
      <li><a class="text-blue-800" href={`/${slug}`}> {titel}</a>&nbsp; / &nbsp;</li>
      <li><a class="text-blue-800" href={`/${slug}/${workSlug}`}>{work.InvNr}</a></li>
    </ul>
  </nav>
  
  <h2 class="text-2xl py-3">{work.Titel}</h2>
  <main class="flex flex-col-reverse lg:flex-row">
    <div class="eigenschaften w-full lg:w-1/2">
      <h2 class="py-3 text-xl">Inv. Nr.: {work.InvNr}</h2>
      <h3 class="py-3 text-xl">Eigenschaften</h3>
      <p> <span class="font-semibold text-gray-500"> Werkgruppe:</span> <a class="text-blue-800" href={`/${slug}`}> {work.Werkgruppe}</a></p>
      <p> <span class="font-semibold text-gray-500">Jahr:</span> {work.Jahr}</p>
      <p><span class="font-semibold text-gray-500">Maße: </span>{work.Maße}</p>
      <p><span class="font-semibold text-gray-500">Anzahl: </span>{work.Anzahl}</p>
      <p><span class="font-semibold text-gray-500">Signatur:</span> {work.Signatur}</p>
      <p><span class="font-semibold text-gray-500">Zustand: </span>{work.Zustand}</p>
      <p><span class="font-semibold text-gray-500">Beschreibung:</span>{work.Beschreibung}</p>
      <p><span class="font-semibold text-gray-500">Material:</span> {work.Material}</p>
      <p><span class="font-semibold text-gray-500">Standort:</span> {work.Standort}</p>
      <p><span class="font-semibold text-gray-500">Technik: </span>{work.Technik}</p>
      <p><span class="font-semibold text-gray-500">Auflage:</span> {work.Auflage}</p>
      <p><span class="font-semibold text-gray-500">Foto:</span> {work.Foto}</p>
      <p><span class="font-semibold text-gray-500">Ausstellung:</span> {work.Ausstellung}</p>
      <p><span class="font-semibold text-gray-500">Literatur:</span> {work.Literatur}</p>
      <p><span class="font-semibold text-gray-500">Bibliographie:</span> {work.Bibliographie}</p>
    </div>
    <div class="w-full lg:w-1/2">
      <ImageViewer client:load imgs={imgs} title={work.Titel} />
    </div>
  </main>
</Layout>
