---
import Layout from "../../layouts/Layout.astro";
import ImageViewer from "../../components/ImageViewer.jsx";
import { Eigenschaft, EigenschaftWithLink } from "../../components/Eigenschaft";
import werkgruppen from "../../../public/werkgruppen.json";
import SearchNavigation from "../../components/SearchNavigation";

export async function getStaticPaths() {
  const works = [];
  for (const werkgruppe of werkgruppen) {
    for (const Record of werkgruppe.Records) {
      works.push({
        workSlug: Record.Slug,
        slug: werkgruppe.Slug,
        titel: werkgruppe.Titel,
        work: Record,
        records: werkgruppe.Records,
      });
    }
  }
  const paths = works.map((work, index, arr) => ({
    params: {
      slug: work.slug,
      workSlug: work.workSlug,
    },
    props: {
      work: work.work,
      records: work.records,
      slug: work.slug,
      workSlug: work.workSlug,
      titel: work.titel,
      prevLink: (index > 0) ?`/${arr[index-1].slug}/${arr[index-1].workSlug}` : false,
      nextLink: (index < (arr.length-1)) ? `/${arr[index+1].slug}/${arr[index+1].workSlug}` : false
    },
  }));

  return paths;
}
const { work, records, slug, workSlug, titel, nextLink, prevLink } = Astro.props;

const imgs = await Promise.all(
  work?.Bilder?.map(async (bild) => {
    return {
      src: bild,
    };
  }) || [{ src: "/placeholder.png" }]
);
---

<Layout title={work.Titel}>
  <SearchNavigation client:only />
  <nav class="print:hidden">
    <ul class="flex flex-row flex-wrap">
      <li><a class="text-blue-800" href="/">Startseite</a>&nbsp; / &nbsp;</li>
      <li>
        <a class="text-blue-800" href={`/${slug}`}> {titel}</a>&nbsp; / &nbsp;
      </li>
      <li>
        <a class="text-blue-800" href={`/${slug}/${workSlug}`}>{work.InvNr}</a>
      </li>
    </ul>
  </nav>

  <h2 class="text-lg md:text-2xl py-3">{work.Titel}</h2>
  <main class="flex flex-col-reverse lg:flex-row">
    <div class="eigenschaften w-full lg:w-1/2">
      <h2 class="py-3 text-xl">Inv. Nr.: {work.InvNr}</h2>
      <h3 class="py-3 text-xl">Eigenschaften</h3>
      <EigenschaftWithLink
        title="Werkgruppe"
        href={`/${slug}`}
        value={work.Werkgruppe}
      />
      <Eigenschaft title="Jahr" value={work.Jahr} />
      <Eigenschaft title="Maße" value={work.Maße} />
      <Eigenschaft title="Anzahl" value={work.Anzahl} />
      <Eigenschaft title="Signatur" value={work.Signatur} />
      <Eigenschaft title="Zustand" value={work.Zustand} />
      <Eigenschaft title="Beschreibung" value={work.Beschreibung} />
      <Eigenschaft title="Standort" value={work.Standort} />
      <Eigenschaft title="Technik" value={work.Technik} />
      <Eigenschaft title="Auflage" value={work.Auflage} />
      <Eigenschaft title="Foto" value={work.Foto} />
      <Eigenschaft title="Ausstellung" value={work.Ausstellung} />
      <Eigenschaft title="Literatur" value={work.Literatur} />
      <Eigenschaft title="Bibliographie" value={work.Bibliographie} />
    </div>
    <div class="ml-2 w-full lg:w-1/2">
      <div class="m-2 flex flex-row text-4xl justify-around">
      {prevLink && <a class="print:hidden text-gray-500" href={prevLink}>	&lt;</a> }
      {nextLink && <a class="print:hidden text-gray-500" href={nextLink}>	&gt;</a> }
    </div>
      <ImageViewer client:load imgs={imgs} title={work.Titel} />
    </div>
  </main>
</Layout>
