---
import Layout from "../../layouts/Layout.astro";
import { getWerkgruppen } from "../../werkverzeichnis/werkgruppen";

export async function getStaticPaths() {
  const werkgruppen = await getWerkgruppen();

  const works = [];
  for (const werkgruppe of werkgruppen) {
    for (const Record of werkgruppe.Records) {
      works.push({
        workSlug: Record.Slug,
        slug: werkgruppe.Slug,
        work: Record,
      });
    }
  }
  return works.map((work) => ({
    params: {
      slug: work.slug,
      workSlug: work.workSlug,
    },
    props: {
      work: work.work,
    },
  }));
}
const { work } = Astro.props;

const title =
  "Werkverzeichnis von Vollrad Kutscher 1968 bis 2000: " + work.Titel;
---

<Layout title={title}>
  <main class="flex">
    <div class="eigenschaften w-1/2">
      <h1>{work.Titel}</h1>
      <h2>Inv. Nr.: {work.InvNr}</h2>
      <h3>Eigenschaften</h3>
      <p>Werkgruppe: {work.Werkgruppe}</p>
      <p>Jahr: {work.Jahr}</p>
      <p>Maße: {work.Maße}</p>
      <p>Anzahl: {work.Anzahl}</p>
      <p>Signatur: {work.Signatur}</p>
      <p>Zustand: {work.Zustand}</p>
      <p>Beschreibung: {work.Beschreibung}</p>
      <p>Material: {work.Material}</p>
      <p>Standort: {work.Standort}</p>
    </div>
    <div class="w-1/2"><img src={work.Thumbnail} /></div>
  </main>
</Layout>
